<ion-view title="Learn">
  <ion-content scroll="false">
    <swipe-cards>
      <swipe-card on-swipe="cardSwiped()" id="start-card">
        <div class="front">
          Swipe left or right for a new card. Tap to flip
        </div>
        <div class="back">
         Tap to flip back. Swipe left or right for a new card.
        </div>
      </swipe-card>
      <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
        <div class="front">
          {{card.front}}
        </div>
        <div ng-controller="CardCtrl" class="back">
          {{card.back}}

          <div class="button-bar">
            <button class="button button-clear button-positive" ng-click="reject()">No</button>
            <button class="button button-clear button-positive" ng-click="accept()">Yes</button>
          </div>

        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>
